body {
    background:#FFFFFF;
    padding:0;
    margin:0 auto;
    text-align:center;
}

#hdr {
    width:768px;
    padding-top:23px;
    margin:0 auto 0;
}

#hdr .nintendo_logo {
    float:left;
    margin-top:10px;
}

#hdr .wii_logo {
    float:right;
}

#hdrMenu {
    padding-top:23px;
    clear:both;
    width:768px;
    margin:0 auto 10px;
    padding-bottom: 20px;
}

*html #hdrMenu {
    height:80px;
}

#hdrMenu .menu01, #hdrMenu .menu02, #hdrMenu .menu03, #hdrMenu .menu04, #hdrMenu .menu05, #hdrMenu .menu06, #hdrMenu .menu07, #hdrMenu .menu08, #hdrMenu .menu09 {
    background:url(../img_cmn/hdr_menu_line.gif) no-repeat right top;
    float:left;
    text-align:left;
}

#hdrMenu .menu01 {
    background:none;
    width:286px;
}

#hdrMenu .menu02 {
    width:60px;
}

#hdrMenu .menu03 {
    width:38px;
}

#hdrMenu .menu04 {
    width:62px;
}

#hdrMenu .menu05 {
    width:39px;
}

#hdrMenu .menu06 {
    width:72px;
}

#hdrMenu .menu07 {
    width:59px;
}

#hdrMenu .menu08 {
    width:71px;
}

#hdrMenu .menu09 {
    width:56px;
}

/*-- 2012.02.21 main// --*/
#btnHardware {
    position: absolute;
    z-index: 59;
    width: 1px;
    height: 20px;
    background: url(../img_index/btnHardware.png) no-repeat;
}
#mainWrap {
    width:100%;
    height:500px;
    background:url(../img_index/main_limitedBg.png) repeat-x left -90px;
}

#mainWrap .main {
    width:765px;
    height:430px;
    margin:0 auto;
    position:relative;
    text-align: center;
}

#mainWrap .main #mainContent{
    float:left;
    width:520px;
    position:relative;
}

#mainWrap .main #mainContent a#hoverArea {
    width:520px;
    height:480px;
    display: block;
    z-index: 11;
}


#mainWrap .main #mainContent img {
    position: absolute;
}

#phWhite {
    top: 40px;
    left: 245px;
}

#phBlack {
    top: 40px;
    left: 500px;
}

#mainContent .logo {
    top: 115px;
    left: 0px;
}

.set01 {

    top: 394px;
    left: 600px;
}

#mainWrap .main #bannerContent{
    padding-top:18px;
    float:right;
    width:229px;
}


#mainWrap .bnrArea {
    width:771px;
    height:100px;
    margin:14px auto 0;
    position:relative;
}

#mainWrap .main img, #mainWrap .bnrArea img {
    border:0;
}

#mainWrap .main .mainBtnConsole {
    position:absolute;
    top:438px;
    left:2px;
}
#mainWrap .main .mainBtnAccessory {
    position:absolute;
    top:438px;
    left:189px;
}
#mainWrap .main .mainBtnPoint {
    position:absolute;
    top:438px;
    left:371px;
}
#mainWrap .main .mainBtnSupport {
    position:absolute;
    top:438px;
    left:576px;
}
#mainWrap .bnrArea a .bnr01 {
    position:absolute;
    top:-17px;
    left:-12px;
}
#mainWrap .bnrArea a .bnr02 {
    position:absolute;
    top:0;
    left:194px;
}
#mainWrap .bnrArea a .bnr03 {
    position:absolute;
    top:0;
    left:388px;
}
#mainWrap .bnrArea a .bnr04 {
    position:absolute;
    top:0;
    left:582px;
}

/*-- //2012.02.21 --*/

#mainbtm {
    width:768px;
    position:relative;
    margin:0 auto 0;
    padding:24px 0 10px;
    text-align:left;
}

#mainbtm .info {
    width:520px;
    margin-top:0px;
}

#mainbtm .info ul {
    width:517px;
    text-align:left;
    margin:0;
    padding:0;
    padding-bottom:25px;
}

#mainbtm .info li {
    background:url(../img_index/dotline768_1.gif) repeat-x 0 bottom;
    list-style:none;
    padding:22px 10px 22px 5px;
}

#mainbtm .info li .new {
    margin:0 0 0 7px;
    _vertical-align:middle;
}

#mainbtm .info .arrow {
    background:url(../img_cmn/arrow.gif) no-repeat 0 3px;
    padding-left:18px;
}

#mainbtm .bnrInterviewLeft {
    top:823px;
    left:0px;
    position:absolute;
}

#mainbtm .bnrInterviewRight {
    top:823px;
    left:265px;
    position:absolute;
}

#mainbtm .linkRight {
    top:28px;
    left:536px;
    position:absolute;
}

#mainbtm .bnr_internet {
    padding-top:10px;
}

#mainbtm .bnr_wiinoma {
    top:214px;
    left:0px;
    position:absolute;
}

#mainbtm .bnr_e3{
    padding-bottom:10px;
}


#mainbtm .bnr_interview {
    top:8px;
    left:0px;
    position:absolute;
}

#mainbtm .bnr_interview img {
    border:none;
}

#mainbtm .link_mailnews {
    padding-top:10px;
}

#mainbtm .link_mailnews img {
    padding:1px 0 1px 2px;
}



/*-------------NOSCRIPT-------------*/

#mainbody {
    width:768px;
    margin:0 auto;
    position:relative;
}

#mainbody .mainLogo {
    top:94px;
    left:17px;
    position:absolute;
}

#mainbody .mainInfo {
    top:239px;
    left:4px;
    position:absolute;
}

#mainbody .mainWii {
    top:130px;
    left:186px;
    position:absolute;
}

#mainbody .mainTV {
    top:0px;
    left:323px;
    position:absolute;
}

#mainbody .mainBtnKuro {
    top:231px;
    left:13px;
    position:absolute;
}

#mainbody .mainBtn {
    top:304px;
    left:20px;
    position:absolute;
    text-align:left;
    width:748px;
}

#mainbody .TtlWii {
    top:372px;
    left:9px;
    position:absolute;
}

#mainbody .TtlChannel {
    top:373px;
    /*left:393px;*/
    left:507px;
    position:absolute;
}

#mainbody .TtlWare {
    top:373px;
    /*left:525px;*/
    left:519px;
    position:absolute;
}

#mainbody .pickupItem0 {
    top:389px;
    left:6px;
    position:absolute;
}

#mainbody .pickupItem1 {
    top:389px;
    left:130px;
    position:absolute;
}

#mainbody .pickupItem2 {
    top:389px;
    left:254px;
    position:absolute;
}

#mainbody .pickupItem3 {
    top:389px;
    left:378px;
    position:absolute;
}

#mainbody .pickupItem4 {
    top:389px;
    left:505px;
    position:absolute;
}

#mainbody .pickupItem5 {
    top:389px;
    left:652px;
    position:absolute;
}

#mainbody .bnr_link_interview {
    top:523px;
    left:-2px;
    position:absolute;
}

#mainbody .bnr_link_software {
    top:523px;
    left:390px;
    position:absolute;
}



#softwareMenu {
    width:768px;
    height:65px;
    margin:0 auto;
    position:relative;
}

#softwareMenu .btn_channel {
    top:10px;
    left:0px;
    position:absolute;
}

#softwareMenu .btn_ware {
    top:10px;
    left:256px;
    position:absolute;
}

#softwareMenu .btn_vc {
    top:10px;
    left:512px;
    position:absolute;
}

#softwareMenu .popup_channel {
    top:-143px;
    left:5px;
    position:absolute;
    z-index:100;
    display:none;
}

#softwareMenu .popup_ware {
    top:-143px;
    left:261px;
    position:absolute;
    z-index:100;
    display:none;
}

#softwareMenu .popup_vc {
    top:-143px;
    left:518px;
    position:absolute;
    z-index:100;
    display:none;
}

#nSoftList {
    width:768px;
    margin:10px auto 0;
}

#ftr {
    width:768px;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
    border-top:#cfcfcf 1px solid;
}

#ftr .home {
    float:left;
}

#ftr .pagetop {
    float:right;
}

#ftr .ftrMenu {
    clear:both;
    padding:20px 0 50px;
    letter-spacing:1.2;
}

/*-------------L-------------*/

#lSoftList {
    width:768px;
    margin:50px auto 0;
}

#lSoftList .bnr_selection  {
    margin:5px auto 15px;
}

#lSoftList .update {
    width:758px;
    height:25px;
    text-align:right;
    margin-top:5px;
    letter-spacing:1.1;
}

#lSoftList .list {
    margin-left:auto;
    margin-right:auto;
    width:768px;
    position:relative;
    margin-bottom:40px;
}

#lSoftList .ttlArea {
    height:23px;
}

#lSoftList .ttlLicensed {
    top:0;
    left:5px;
    position:absolute;
}

#lSoftList .ttlCorp {
    top:0;
    left:402px;
    position:absolute;
}

#lSoftList .ttlGenre {
    top:0;
    left:600px;
    position:absolute;
}

#lSoftList .dateList {
    clear:both;
    background:url(../img_index/bgDateList.gif) repeat-y 48px 0px;
    border-top:1px solid #c7c7c7;
    _height:10px;
    min-height:10px;
    margin-top:2px;
}

#lSoftList .dateList:after {
    content:"";
    display:block;
    clear:both;
    height:1px;
    overflow:hidden;
}

#lSoftList .date {
    margin-top:9px;
    width:48px;
    float:left;
    text-align:center;
    font-weight:bold;
}

#lSoftList .softArea {
    width:708px;
    float:right;
    text-align:left;
}

#lSoftList .software {
    width:708px;
}

#lSoftList .textTitle {
    width:332px;
    _width:342px;
    float:left;
    margin:8px 0;
    padding-right:10px;
    _padding-top:0;
    _padding-bottom:4px;
}

#lSoftList .textTitleA {
    background:url(../img_cmn/arrow.gif) no-repeat 0 3px;
    width:319px;
    _width:342px;
    float:left;
    margin:8px 0;
    padding-left:13px;
    padding-right:10px;
    _padding-top:0;
    _padding-bottom:4px;
}

#lSoftList .textTitleA a {
}

#lSoftList .textCorp {
    width:190px;
    _width:200px;
    float:left;
    margin:9px 0;
    padding-right:10px;
    _padding-top:1px;
    _padding-bottom:4px;
    letter-spacing:1px;
}

#lSoftList .textGenre {
    width:166px;
    float:left;
    margin:9px 0;
    _padding-top:1px;
    _padding-bottom:4px;
    letter-spacing:1px;
}

#lSoftList .dotline {
    background:url(../img_index/dotline768_1.gif) no-repeat 0px bottom;
    min-height:1px;
}

#lSoftList .dotline:after {
    content:"";
    display:block;
    clear:both;
    height:1px;
    overflow:hidden;
}

#lSoftList .btmline {
    border-bottom:1px solid #c7c7c7;
    height:2px;
    line-height:0.01%;
}

#lSoftList .oldList {
    clear:both;
    margin: -20px 0 0 0;
    height: 130px;
}

#lSoftList .oldList img {
    margin: 0 8px 3px 0;
    float: left;
    border: 0;
    padding: 0;
}

#lSoftList .oldList .right {
    margin: 0 0 8px 0;
    border: 0;
    padding: 0;
}

#lSoftList .info {
    background:url(../img_index/bg_l_ftr.jpg) repeat-y;
    text-align:left;
    padding:0 15px 0 30px;
    text-align:justify;
    text-justify:inter-ideograph;
}

#lSoftList .info:first-letter {
    margin-left:-15px;
}

#lSoftList .info_btm {
    padding-bottom:35px;
}

#lSoftList .notesLink {
    background:url(../img_index/bg_l_ftr.jpg) repeat-y;
    padding:0 15px;
    text-align:right;
}

#lSoftList .notesLink img {
    margin:-2px 5px 0 0;
    _margin:0px 5px 0 0;
    vertical-align:middle;
}

/*-------------ToolTip-------------*/

#tt {
    width:99px;
    height:131px;
    position:absolute;
    display:none;
    background:url(../img_index/l_pkg/bg.png) no-repeat;
    _background:url(../img_index/l_pkg/bg.gif) no-repeat;
    padding-top:8px;
}

/*-------------N-------------*/

#nSoftList .soft_n {
    width:768px;
    margin:15px 0 0;
    background:url(../img_index/dotline_v.gif) repeat-y top center;
    clear:both;
}

#nSoftList .soft_n:after {
    content:"";
    display:block;
    clear:both;
    height:1px;
    overflow:hidden;
}

#nSoftList .btmLineDot1 {
    padding-top:15px;
    _padding-top:0px;
    height:1px;
    background:url(../img_index/dotline768_1.gif) no-repeat center bottom;
}

#nSoftList .btmLineDot2 {
    padding-top:15px;
    _padding-top:0px;
    height:1px;
    background:url(../img_index/dotline768_2.gif) no-repeat center bottom;
}

#nSoftList .softPkgArea {
    width:110px;
    float:left;
}

#nSoftList .softPkgArea img {
    padding-left:8px;
}

#nSoftList .softPkgArea a {
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}

#nSoftList .softPkgArea a:hover {
    zoom:1;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}

#nSoftList .softInfoArea {
    width:272px;
    float:left;
    text-align:left;
}

#nSoftList .titleArea {
    border-left:#34beed 5px solid;
    margin-top:9px;
    padding-left:6px;
}

#nSoftList .genre {
    font-size:smaller;
    font-weight:bold;
    color:#34BEED;
    font-size:0.8em;
    line-height:1.4;
}

#nSoftList .title {
    font-weight:bold;
    color:#777777;
    line-height:1.1;
    font-size:1.15em;
    letter-spacing:-0.6;
}

#nSoftList .copy {
    padding:12px 0 10px;
    font-weight:bold;
    color:#34BEED;
    font-size:0.97em;
}

#nSoftList .copy a {
    padding:7px 0 7px;
    font-weight:bold;
    color:#34BEED;
    font-size:0.97em;
}

#nSoftList .data {
    letter-spacing:1.1;
}

#nSoftList .detail {
    padding:5px 12px 0 0;
    text-align:right;
}

#nSoftList .detail2 {
    padding:3px 12px 0 0;
    text-align:right;
}

#nSoftList .detail img {
    margin-left:3px;
}

#nSoftList .oldList {
    clear:both;
    text-align:center;
    padding:25px 8px 25px 0;
    border-bottom:#c7c7c7 1px solid;
}

#nSoftList .oldList img {
    margin-left:16px;
}

#nSoftList .cero {
    text-align:right;
    padding:8px;
}

#nSoftList .soft_l:after {
    content:"";
    display:block;
    clear:both;
    height:1px;
    overflow:hidden;
}
