/*  default.css  */
/*  WinIEおよびデフォルト指定用のスタイル  */


/* 共通のスタイル */
body {
	font-family:"ＭＳ Ｐゴシック",Arial,Verdana,Helvetica;
	color: #555555;
	}
body, td, th {
	font-size: x-small;
	line-height: 1.2;
	}
a {
	color: #666666;
	text-decoration: none;
	}
a:hover {
	color: #AAAAAA;
	text-decoration: underline;
	}	

a.ul {
	text-decoration: underline;
	}

.wiiblue {
	color: #34BEED;
	}

.caption {
	color: #666666;
	}

.txtlink {
	color: #999999;
	}

.txtlink_off {
	color: #AAAAAA;
	}
.code {
	font-family: Verdana, Arial, Helvetica;
	color: #999999;
	}
.notice {
	color: #999999;
	}
.necessary {
	color: #666666;
	}
.new {
	color:#ff3366; font-family:Verdana, Arial, Helvetica; font-size:smaller;
	}

/* 固有のスタイル */
.tx16 {
	font-size: small;
	line-height: 1.2;
	}
	
.tx12 {
	font-size: x-small;
	line-height: 1.3;
	}

.tx10 {
	font-size: xx-small;
	line-height: 1.3;
	}

/*---2011.01.17 以下追記分---*/
#ftr_bdr{
	border-bottom: 8px solid #34BEED;
	width: 100%;
}
#ftr_bdr #pnav_container{
	width: 768px;
	margin: 0 auto;
	overflow: hidden;
}
#ftr_bdr #pnav_container .copyright{
	float: left;
	margin: 0;
	padding: 0;
}

#ftr_bdr #pnav_container #pnav{
	margin: 0;
	padding: 0;
	float: right;
	
	left: 0;/*---camp---*/
}

#ftr_bdr #pnav_container #pnav li{
	list-style: none;
	float: left;
	
	margin: 0 5px 0 0;/*---camp---*/
	
}
#ftr_bdr #pnav_container #pnav li.lastchild{
	margin-right: 0;
}

#ftr_bdr #pnav_container #pnav li img{
	border: 0;
	vertical-align: bottom;
}
/*---2011.01.30 以下追記分---*/
#footer{
	width: 768px;
	height: 75px;
	margin: 0 auto;
	border-top: 1px solid #CFCFCF;
	padding-top: 10px;
	overflow: hidden;
}
#footer ul{
	float: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
	
	left: 0;/*---camp---*/
}

#footer ul li{
	list-style: none;
	list-style-position: outline;
	float: left;
	
	margin: 0;;/*---camp---*/
}
#footer img{
	border: 0;
}
#footer .pagetop{
	width: 112px;
	margin: 0;
	padding: 0;
	float: right;
}


.bgTable{
}
.bgTable .textArea{
	width:auto;
	padding:10px 20px 10px 20px;
	background:url(../news/img/bgTable.gif) repeat-y;
	display:block;
}

span.note{
	display:block;
	text-indent:-1em;
	margin-left:1em;
}
