/*シフトJIS*/
@charset "Shift_JIS";


/*---------------------------------------------------------------- Contents */
#contents {
	width:768px;
	margin:0 auto;
}
#contents .fadeline1 {
	margin-bottom:25px;
}
#contents .info {
	width:768px;
	padding:0;
	margin: 0;
}
#contents .info .main {
	width:755px;
	height:82px;
	position: relative;
	margin: 15px auto 40px;
	padding: 0;
}
#contents .info .main .indexLogo {
	position: absolute;
	top: 0;
	left: 0;
}
#contents .info .main .indexText {
	position: absolute;
	top: 9px;
	right: 0;
}
#contents .info .main .indexBtn01 {
	position: absolute;
	bottom: 0;
	left: 78px;
}
#contents .info .main .indexBtn02 {
	position: absolute;
	bottom: 0;
	right: 78px;
}
#contents .gallery {
	clear:both;
	width:741px;
	padding:0 13px 41px 14px;
}
#contents .gallery h2.whats {
	width:740px;
	text-align:center;
	height:150px;
}

#contents .gallery #newsTrial{
	width:740px;
	margin-bottom:30px;
	text-align:center;
}


#contents .gallery .new_release {
	width:741px;
	height:30px;
	margin:0;
	padding:9px 0;
}
#contents .gallery .nintendo_soft {
	width:741px;
	height:30px;
	margin:0;
	padding:9px 0;
}
#contents .gallery .trial_soft{
	width:741px;
	height:30px;
	margin:0;
	padding:9px 0;
}
#contents .gallery .list {
	height:35px;
	padding:12px 0 0 0;
	border-top:1px dotted #b1b1b1;
}
#contents .gallery .list img {
	margin-left: -15px;
}

/*------------------------------------------------------- Slider1 */

.block {
	position:relative;
	width:741px;
	height:180px;
	overflow:hidden;
}
.block .jcarousel-skin-tango {
	position:absolute;
	width:665px;
    height: 180px;
	padding:0 38px;
}
* html .block .jcarousel-skin-tango {
    width: 741px;
    height: 180px;
}
.block .jcarousel-skin-tango li {
	float:left;
	position:relative;
	width:133px;
    height: 180px;
}
.block .jcarousel-skin-tango li .image {
	width:109px;
	height:80px;
	padding:8px 12px 18px 12px;
	background-image:url('../img/gallery_name_upper.gif');
	background-position:center bottom;
	background-repeat:no-repeat;
	text-align:center;
}
.block .jcarousel-skin-tango li .name {
	width:101px;
	padding:0 16px 8px 16px;
	background-image:url('../img/gallery_name_lower.gif');
	background-position:center bottom;
	background-repeat:no-repeat;
}
.block .jcarousel-skin-tango li .name p {
	width:101px;
	margin:0;
	padding:0;
	text-align:center;
	line-height:1.2em;
}
.block .jcarousel-skin-tango li .name p a {
	color:#646464;
	line-height:1.2em;
}
.block .jcarousel-skin-tango li .name p a:hover {
	text-decoration:underline;
}
.block .jcarousel-skin-tango li .front {
	position:absolute;
	top:0;
	width:133px;
	height:88px;
}
.block .jcarousel-skin-tango li .front a {
	display:block;
	width:133px;
	height:88px;
	background-color:#fff;
	opacity: 0;
	filter: Alpha(opacity=0);
}
.block .jcarousel-skin-tango li.trial .front {
	background-image:url('../img/cssBtn_trial.gif');
	background-position:top right;
	background-repeat:no-repeat;
}
.block .jcarousel-skin-tango li.soon .front {
	background-image:url('../img/cssBtn_soon.gif');
	background-position:top right;
	background-repeat:no-repeat;
}
.block .jcarousel-skin-tango li.end .front {
	background-image:url('../img/cssBtn_end.gif');
	background-position:top right;
	background-repeat:no-repeat;
}

.block .jcarousel-skin-tango .opacity {
	filter:Alpha(opacity=50);
	opacity:0.5;
}

#ftr_bdr{
text-align:center;
}
